@import "variables";
@import "mixins";
@import "fonts";
@import "icons";
@import "animations";

/* Document level adjustments */
html {
  font-size: 17px;
}
//boostrap variables override
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Assistant', sans-serif;
  letter-spacing: 0.5px;
  color: $black;
}
body, html {
  height: 100%;
}

.a-dark:hover {
  color: $black;
  background-color: $white;
  border-radius: 5px;
  text-decoration: none;
}
.a-dark {
  background-color: $black;
  color: $white;
}
.pointer {
  cursor: pointer;
}

.share-icon {
    color: $sky-blue;
    font-size: 2rem;
}
.icon:hover {
  color: $black;
  background-color: $white;
}
.icon {
  cursor: pointer;
  border-radius: 25%;
  color: $white;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
@include media-breakpoint-up(xs) {
  html { font-size: 12px;}
}
@include media-breakpoint-up(sm) {
  html { font-size: 14px; }
}
@include media-breakpoint-up(md) {
  html { font-size: 15px; }
}
@include media-breakpoint-up(lg) {
  html { font-size: 17px; }
}
